#root {
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  position: fixed;
  /* border: solid; */
  background-image: url('/main_background.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;

  /* Mobile styles */
  margin-top: 15vh;
  padding-top: 1em;
  font-size: 1rem;

  nav {
    font-size: 1em;
  }


  /* Tablet styles */
  @media (min-width: 601px) and (max-width: 1024px) {
    padding-top: 1em;
    font-size: 1.25rem;
    nav {
      font-size: 1em;
    }
  }

  /* Desktop styles */
  @media (min-width: 1025px) {
    padding-top: 1em;
    font-size: 1rem;
    nav {
      font-size: 1.75em;
    }
  }
}


/* body {
  background-image: url('/main_background.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
} */