#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  padding: 2rem;
  /* text-align: center; */
}
body {
  background-image: url('/main_background.jpeg'); /* Adjust the path if necessary */
  background-size: cover; /* Ensures the image covers the entire background */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: center center; /* Centers the image */
  background-attachment: fixed; /* Keeps the image fixed when scrolling */
  margin: 0; /* Removes default margin */
  padding: 0; /* Removes default padding */
}