.display-date{
  display: flex;
  padding-bottom: .5em;
  align-items: center;
  justify-content: space-around;
}

#date{
  padding: .5em;
  font-family: "Poetsen One", sans-serif;
  font-weight: 300;
  color: rgb(23, 74, 95);

}

#prev_day_btn{
  color: rgb(23, 74, 95);
}

#next_day_btn{
  color: rgb(23, 74, 95);
}

#date-nav{
  display: flex;
}

.display-date .client-list-btn{
  color: white;
  background-color: #76c9e5; 
  font-family: "Poetsen One", sans-serif;
  font-weight: 300;
  &:hover {
    color: rgb(23, 74, 95);  }
}