#month {
  margin: 1em;
}

.days-slots {
  display: flex;
}

.days {
  display: flex;
  flex-direction: column;
  width: 30vw;
}
.slots {
  display: flex;
  flex-direction: column;
  // border: solid;
  width: 90vw;
}

.slot {
  border: solid;
  padding: 0.5em;
  margin: 0.5em;
  &:hover {
    background-color: rgba(118, 201, 229, 0.5);
    cursor: pointer;
  }
}
