#month {
  margin: 1em;
}

.days-slots {
  display: flex;
}

.days {
  display: flex;
  flex-direction: column;
  width: 30vw;
}

#time-picker {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slots {
  // width: 40vw;
  // display: flex;
  // flex-wrap: wrap;
  // flex-direction: column;
}

.slot {

  margin: 0.5em;
  padding: 0.5em;
  border: 2px solid #76c9e5;
  &:hover {
    background-color:rgba(175, 243, 175, 0.904);
    cursor: pointer;
  }
}