#client-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.client-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  button {
    margin: 20px;
  }
}

.client-form-input {
  display: flex;
  justify-content: center;
  width: 25rem;
}


.input {
  padding: 10px;
  padding-left: 0px;
  padding-right: 20px;
}

.input-right {
  padding: 10px;
  padding-left: 0px;
  padding-right: 0px;
}

.client-btns {
  display: flex;
  justify-content: space-between;
  width: 25rem;
}

#NewClient {
  width: 25rem;
}

#ClientSearch {
  // width: 25rem;
}

#returning-client-search-bar {
  padding-top: 10px;
  display: flex;
}
