.client-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  button{
    margin: 20px;
  }
}

.client-form-input {
  display: flex;
  justify-content: center;
}



.input {
  padding: 10px;
}
