#dashboard {
  #dashboard-calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .dashboard-header {
    display: flex;
    padding-bottom: 0.5em;
    align-items: center;
    justify-content: space-around;
    // width: 100%;
    // min-width: fit-content;

    .dashboard-nav-btns {
      color: white;
      background-color: #76c9e5;
      font-family: "Poetsen One", sans-serif;
      // font-weight: 300;

      &:hover {
        color: rgb(23, 74, 95);
      }
    }

    #prev_day_btn {
      color: rgb(23, 74, 95);
    }

    #next_day_btn {
      color: rgb(23, 74, 95);
    }

    #date-nav {
      display: flex;
    }

    #date,
    #client-name {
      padding: 0.5em;
      font-family: "Poetsen One", sans-serif;
      font-weight: 300;
      color: rgb(23, 74, 95);
    }
  }

  .dashboard-table {
    display: flex;
    justify-content: center;
    width: 70vw;
    min-width: fit-content;
  }

  #client-row {
    &:hover {
      background-color: rgba(138, 224, 138, 0.904);
      cursor: pointer;
    }
  }

  .error-message {
    color: red;
    font-family: "Poetsen One", sans-serif;
    font-weight: 300;
  }

  #apt-detail {
    display: flex;
    flex-direction: column;
    align-items: center;


    #client-info {
      padding: 0.5em;
      font-family: "Poetsen One", sans-serif;
      color: rgb(23, 74, 95);
      width: 100%;
    }

    #client-name {
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 0.25em;
      font-size: 1.5em;
    }

    #service-info {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      #service-status {
        padding-block: .5em;
      }

      #service-type {
        width: 50%;
      }
    }

    #service-time {
      width: 100%;
      display: flex;
      align-items: center;

      #service-time-picker {
        width: 50%;
        padding-left: .5em;
        padding-block: .5em;
      }
    }

    #client-notes {
      width: 100%;
      padding-block: .5em;
    }

    #stylist-notes {
      width: 100%;
      padding-block: .5em;
    }

    #apt-detail-btns {
      width: 100%;
      display: flex;
      padding-block: 0.5em;
      justify-content: space-around;
    }

    #apt-note {
      padding-block: 0.5em;
      font-family: "Poetsen One", sans-serif;
      color: rgb(187, 99, 16);
    }
  }

  .client-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}