#Home {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 105%;

  #BookingCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #76c9e5;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
    background-color: #eff1f0;
    // height: 24rem;

    #booking-btn {
      display: flex;
      justify-content: center;
      width: 80%;
      margin: 0.5em;
      border: solid;
      border-radius: 10px;
      background: black;

      .btn {
        color: white;
        width: 100%;
      }
    }

    #open-hours {
      display: flex;
      justify-content: center;
      border-top: 1px solid #76c9e5;
      width: 100%;
      padding-top: .5em;

      #hours {
        background-color: #eff1f0;
        box-shadow: 0px 0px 0px 0px;
      }
    }

    #location {
      display: flex;
      flex-direction: column;
      border-top: 1px solid #76c9e5;
      width: 100%;
      padding-top: .5em;
      margin-top: .5em;

      #address {
        display: flex;
        align-items: center;
        justify-content: center;

      }
    }
  }

  #PhotoGallery {
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #76c9e5;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
    background-color: #eff1f0;
    height: 24rem;
    width: 18rem;
    position: relative;

    button {
      position: absolute;
      color: white;
      size: 50%;
      border-radius: none;
      background: transparent;
      border: none;

      :hover{
        cursor: pointer;
      }

      &:first-of-type {
        left: 0%; /* Position the left button */
        top: 50%;
        transform: translateY(-50%);
      }
      &:last-of-type {
        right: 0%; /* Position the right button */
        top: 50%;
        transform: translateY(-50%);
      }
    }

    img {
      height: 100%;
      border-radius: 10px;
      width: 100%;
      // object-fit: cover;
    }
  }

}