nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  min-height: 15vh;
  max-height: 15vh;
  background-color: white;
  // background-color: #76c9e5; //blue
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  font-family: "Poetsen One", sans-serif;

  .logo {
    cursor: pointer;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    padding: 0.5em;
    font-size: 1em;

    img {
      width: 5em;
      // padding-right: 15px;
    }
  }


  .nav-btns {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  a {
    color: white;
    text-decoration: none;
    padding: 0.5em;

    &.active {
      text-decoration: underline;
      text-decoration-color: rgb(255, 223, 43);
    }

    &:hover {
      text-decoration: underline;
      text-decoration-color: rgb(255, 223, 43);
    }
  }
}